.Info {
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;




    box-shadow: 2px 5px 19px 11px  #001529;

}
.Description{
    text-align: justify;
}


.DescriptionTitle {
    font-size: 20px;
    font-weight: lighter;
    color: #001529;
}

.DescriptionText {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}


