.Info {
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;



}

.Card {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 300px;

    box-shadow: 15px 15px 15px 5px  #001529;

}

.Description{
    text-align: justify;
    margin-top: 20px;
}


