.Pagination {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.Pagination li {
    list-style-type: none;
}

.Button {
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}