.all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    border: 2px solid blue;
}

.Content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0;

    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.Right {
    border: 1px solid hotpink;
}

.addRide {
    border: 1px solid crimson;

    text-align: center;

}