.SearchTitle {
    text-align: center;
}

.SearchBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-content: center;
    justify-content: center;
    align-items:center;

    border: 1px black solid;
}
.Item {
    margin: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.ReactCollapseCollapse {
    display: inherit;
    margin: 10px;
    align-content: center;
    justify-content: center;
    width: 100%;

    transition: height 100ms;

    border: 2px solid black;
}