.SearchTitle {
    text-align: center;
}

.SearchBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    align-content: center;
    justify-content: center;
    align-items:center;


}
.Item {
    margin: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.ReactCollapseCollapse {
    display: inherit;
    margin: auto;
    flex-wrap: wrap;

    align-content: center;
    justify-content: center;


    transition: height 100ms;


    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
}