.Title {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    /*margin: 16px;*/
    margin-top: 15px;

    color: white;

    font-weight: bold;
    font-style: italic;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}


.Drawer {
    background-color: #1890ff;
}