.Title {
    font-size: 20px;
    text-align: center;

    margin: 16px;

    color: white;

    font-weight: bold;
    font-style: italic;

}

.TitleSmall {
    /*font-size: 20px;*/
    text-align: center;

    margin: 16px;

    color: white;

    font-weight: bold;
    font-style: italic;
}


.Drawer {
    background-color: #1890ff;
}